*{
    margin:0;
}
body{
    background-color: black;
}
.btn{
    background-color: burlywood;
    border: 1px solid white ;
    color: aqua;
    text-decoration: none;
    text-transform: uppercase;
 
}
.header{
    background-color: black;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    padding: 1.5em;
    
}
.header .logo
{
    height: 3rem;
}
.header .nav a{
      margin-left: 30px;
      text-decoration: none;
      font-size: 1.5em;
      color: white;
}
.header .icons i{
    color: white;
    
    font-size: 1.5em;
    margin-right: 20px;
    

}
.home{
    display: flex;
    flex-direction: column;
    align-items:left;
  
    height:100vh;
    background-image:url("about-img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
   
}
.home .salhead
{
     font-size: 2rem; 
      margin-left: 20vw;
     margin-top: 30vh;
}
.home .salcon
{
    margin-left: 10vw;
    font-size: 25px;
}
.about{
    width: 100vw;
    height: 100vh;
}
.head{
    font-size: 2em;
    color: white;
    margin-left: 40vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
.head span{
    color:aqua;
}
.about .aboutsec{
    display: flex;
}
.aboutimg{
    width:50vw;
    height: 90vh;
}
.aboutcontent{
    height: 90vh;
    background-color: grey;
    align-items: center;
}
.aboutcontent h3{
    font-size: 3rem;
    margin-top: 30%;
}
.menu{
    height: 120vh;
    width: 100vw;
    padding: 4em;
}
.menu .grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.menu .grid div{
    height: 300px;
    width: 220px;
    border: 1px solid white;
    margin: 20px;
    
}
.menu .grid img{
    margin: 60px 60px 25px 60px;
}
.menu .grid .menu1 p{
    margin-left: 40px;
    margin-bottom: 10px;
    color: white;
    font-size: 1.22rem;
    text-transform: capitalize;
}
.menu .grid .menu1 a{
    margin-left: 50px;

}
.menu .grid .menu1 .price{
    margin-left: 70px;
    color: blanchedalmond;
}
.menu .grid .menu1:hover{
    background-color: gray;
}
.menu .grid .menu1 .btn:hover{
    letter-spacing: 2px;
}
.footer
{
    height: 30vh;
    width: 100vw;
    margin-bottom: 0px;
   text-align: center;
   background-color: grey;
}
.footer .bottomicons {
     color: white;
     margin-left: 40vw;    
}
.footer .bottomicons i{
    margin-left: 20px;
    font-size: 1.5em;
    border: 1px solid white;
    border-radius: 330%;
    
}
